#outer_container{
	float:left;
	width:100%;
}
#brown{
	float:left;
	width:85%;
	height:10rem;
	background:brown;
}
#red{
	float:left;
	width:15%;
	height:10rem;
	background:red;
}
#blue{
	float:left;
	width:33.33%;
	height:10rem;
	background:blue;
}
#green{
	float:left;
	width:33.33%;
	height:10rem;
	background:green;
}
#orange{
	  float:left;
	  width:33.33%;
	  height:10rem;
	  background:orange;
}